<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:importantForAutofill="no"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:preserveLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".TestCamActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.OrderMainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.NoNetworkActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.PostReviewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.UserUpdateActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.DetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.SignupActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>